@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Luckiest+Guy&display=swap");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  margin: 0;
  padding: 0; }

.colornav {
  background: linear-gradient(180deg, #091179 15%, #00d4ff 100%) !important; }

.nav-item {
  border: 2px solid;
  border-radius: 5px;
  margin: 3px;
  color: white;
  font-style: "Acme", sans-serif;
  font-weight: bold;
  width: 80%; }

.footer {
  align-items: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: linear-gradient(180deg, #00d4ff 35%, #091179 100%);
  font-size: larger;
  font-style: normal;
  height: 100px;
  width: 100%;
  padding-bottom: 13px; }

.mainIndex {
  background-image: url(../imagenes/fondoindex.png);
  content: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  padding-bottom: -150px;
  height: 31.2vw;
  width: 100vw; }

.parrafoIndex {
  display: inline-block;
  align-items: center;
  padding: 0px auto;
  padding-bottom: 0px;
  font-size: large;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
  background-color: rgba(128, 128, 128, 0.5); }

.fondoMain .card {
  margin: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  justify-content: center; }

.fondoMain .serviciosMain {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px; }

@media (max-width: 576px) {
  .mainIndex .parrafoIndex {
    display: flex;
    padding-right: 0px;
    padding-bottom: 6px; }
  .mainIndex .br {
    display: none; } }

@media (max-width: 576px) {
  .mainIndex .parrafoIndex {
    display: flex;
    padding-right: 0px;
    padding-bottom: 6px; }
  .mainIndex .br {
    display: none; } }

body {
  background-image: url(../imagenes/fondoindex.png);
  background-repeat: no-repeat; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 5px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  background: linear-gradient(180deg, #091179 25%, #00d4ff 75%);
  padding-left: 20px; }
  .contact_form input {
    width: 408px;
    height: 40px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: white;
    color: black; }
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-weight: bold; }
  .contact_form label {
    display: block;
    float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
  text-transform: uppercase;
  background-color: dodgerblue;
  border-color: dodgerblue;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }
  button button p {
    color: #fff;
    font-weight: bold; }

span {
  color: grey; }
  span .aviso {
    font-size: 13px;
    color: #0e0e0e; }
  span h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: black; }
  span h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e; }
  span p {
    font-size: 14px;
    color: #0e0e0e; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

p2 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center; }

@media (max-width: 576px) {
  .mainIndex .parrafoIndex {
    display: flex;
    padding-right: 0px;
    padding-bottom: 2px; }
  .mainIndex .br {
    display: none; }
  .footer {
    margin-top: 137px; } }

body {
  background-image: url(../imagenes/fondoindex.png);
  background-repeat: no-repeat;
  background-size: cover; }

.carousel .slide {
  width: 50%; }

.accordion-item {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center; }

.accordion-header {
  background-color: dodgerblue;
  display: flex;
  justify-content: center; }

.accordion-flush {
  background-color: gray; }

.accordion-header:hover {
  transform: translateY(2px);
  box-shadow: 2px 0;
  transform: scale(1.2);
  transition: all;
  transition-duration: 2s; }

.carousel-control-prev {
  padding-top: 150px; }

.menusistema {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
  .menusistema .sistemafotos {
    display: none; }

@media (max-width: 576px) {
  .Neumatica {
    display: none; }
  .hidraulica {
    display: none; }
  .carousel-inner {
    display: none; }
  .carousel-control-prev {
    display: none; }
  .carousel-control-next {
    display: none; }
  .carousel-indicators {
    display: none; }
  .menusistema {
    display: flex;
    margin: 0 auto;
    flex-direction: column; }
    .menusistema .sistemafotos {
      font-weight: bold;
      background-color: rgba(128, 128, 128, 0.5);
      display: inline; } }

.fondoMain {
  background-image: url(../imagenes/fondoindex.png); }

.btn {
  display: flex;
  justify-content: center; }

.card {
  background-color: cadetblue;
  justify-content: center;
  align-items: center; }
  .card a.btn {
    background-color: lightblue;
    color: black; }
    .card a.btn:hover {
      background-color: #3333ff;
      font-weight: bold; }

@media (max-width: 576px) {
  .serviciosMain {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center; } }

.carousel-control-next, .carousel-control-prev {
  padding-top: 300px; }

.matriz {
  display: inline-block;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  background: linear-gradient(180deg, gray 35%, white 30%, gray 35%); }

.parrafomatriz {
  color: black;
  font-weight: bold;
  border-radius: 30px; }

.parrafomatriceria {
  background: linear-gradient(180deg, gray 35%, white 100%);
  border-radius: 30px; }

.imagenes {
  display: none; }

@media (max-width: 576px) {
  .imagenes {
    display: flex;
    flex-direction: column; } }

.header {
  width: 100vw;
  justify-content: center; }

.nav:active {
  font-weight: bold;
  background-color: gray; }

.nav-item:hover {
  transform: translateY(2px);
  box-shadow: 2px 0;
  transform: scale(1.2);
  transition: all;
  transition-duration: 2s;
  color: white; }

.d-flex {
  align-items: center; }

.btn-outline-success {
  background-color: gray;
  color: white; }

@media (max-width: 425px) {
  .navbar {
    width: 100%; }
  .navbar-toggle {
    width: 100%; }
  .navbar-collapse {
    width: 100%; }
  .bodymedia {
    width: 100%; } }
