.header{
    width: 100vw;
    justify-content: center
}
.colornav{
    @extend %colorNav;
}
.nav-item{
   @extend %navegacion;
}
.nav:active{
    font-weight: bold;
    background-color: gray;
}
.nav-item:hover{
        transform: translateY(2px);
        box-shadow: 2px 0;
        transform: scale(1.2);
        transition: all;
        transition-duration: 2s;
        color: white;
}
.d-flex{
    align-items: center;
    
}
.btn-outline-success{
    background-color: gray;
    color: white;
}
@media(max-width:425px){
    .navbar{
        width: 100%;
    }
    .navbar-toggle{
    width: 100%;}       
    .navbar-collapse{
        width: 100%;
    }
    .bodymedia{
        width: 100%;
    }
}
