
@media(max-width: 576px){
    .mainIndex{
        .parrafoIndex{
            display: flex;
            padding-right: 0px;
            padding-bottom: 2px;}
        .br{
            display: none;}
        }
}
