.mainIndex {
  @extend %inicio;
}

p2 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}

.parrafoIndex {
  @extend %inicioParrafo;
}


@media (max-width: 576px) {
  .mainIndex .parrafoIndex {
    display: flex;
    padding-right: 0px;
    padding-bottom: 2px;
  }

  .mainIndex .br {
    display: none;
  }
  .footer{
    margin-top: 137px;
  }
}


body {
  background-image: url(../imagenes/fondoindex.png);
  background-repeat: no-repeat;
  background-size: cover;
}

