.carousel-control-next, .carousel-control-prev{
    padding-top: 300px;
}

.matriz{
    display: inline-block;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    background: linear-gradient(180deg, gray 35%, white 100%);
}
.parrafomatriz{
    color: black;
    font-weight: bold;
    border-radius: 30px;
}
.parrafomatriceria{
    background: linear-gradient(180deg, gray 35%, white 100%);
    border-radius: 30px;
}