.carousel-control-next, .carousel-control-prev{
    padding-top: 300px;
}

.matriz{
    display: inline;
    color: black;
    font-weight: bold;
    background-color: gray;
}
.parrafomatriz{
    color: black;
    font-weight: bold;
    
}