.fondoMain {
    background-image: url(../imagenes/fondoindex.png);

    .serviciosMain {
        display: flex;
        width: 100%;
    }

    .card {
        margin: 1rem;
        margin-top: 1rem;
        margin-right: 2rem;
        display: flex;
    }
}

.btn {
    display: flex;
    justify-content: center;
    }
.card {
    background-color: cadetblue;
    justify-content: center;
    align-items: center;

    a.btn {
        background-color: lightblue;
        color: black;
        font-weight: bold;
    }
}

@media(max-width: 576px) {

    .serviciosMain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}